server:
  bindAddress: ":8080"

checks:
  # - id: "hourly-sync"
  #   name: "Upload data every hour"
  #   description: "<string>"
  #   schedule:
  #     every:
  #       interval: "1h"
  #       start: "14:00"
  #       end: "18:00"
  #   alert:
  #     pagerduty: # Will read from
  #       apiKey: "<string>"
  #       escalationPolicy: "<string>"

  - id: "2pm-checkin"
    name: "Reports Finalized"
    schedule:
      weekdays:
        timezone: "America/New_York"
        times: ["14:00"]
        # Only allow check-ins between 13:55 and 14:05
        tolerance: "5m"

  # - id: "5pm-close"
  #   name: "Close out for the day"
  #   schedule:
  #     bankingDays:
  #       timezone: "America/New_York"
  #       times: ["17:00"]
  #       tolerance: "5m"

# Alert can also be at the root level, but individual checks override this
alert:
  # healthchecksio:
  #   apiKey: "string"
  # pagerduty:
  #   apiKey: "<string>"
  #   escalationPolicy: "<string>"
  #   from: "<email>"
  # slack:
  #   apiToken: "<string>"
  #   channelID: "<string>"
